html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.layout-row {
    display: flex;
    flex-direction: column;
}

.layout-grow {
    flex: 1;
    overflow: hidden;
}

.layout-center {
    justify-content: center;
}